/* Stylesheet for PHP cheat sheets */
body {
	margin: 0;
	padding: 0;
	background-color: #5C9CCC;
	color: #000000;
	font-family: arial,sans-serif;
	font-size: 8pt;
}

.ui-widget {
	font-family: arial,sans-serif;
}

h1 {
	font-size: 24pt;
	font-weight: bold;
	letter-spacing: 1px;
}

h2 {
	font-size: 16pt;
	font-weight: bold;
	margin: 12px 0 0 0;
}

h3 {
	font-size: 10pt;
	font-weight: bold;
	margin: 12px 0 0 0;
}
h4 {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
}
/*
5C9CCC
2E6E9E
C5DBEC
DFEFFC*/
a {
	color: #5C9CCC;
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color: #E17009;
	background-color: transparent;
	text-decoration: underline;
}
a:active {
	color: #E17009;
	background-color: transparent;
	text-decoration: underline;
}
a:hover {
	color: #5C9CCC;
	background-color: transparent;
	text-decoration: underline;
}

p {
	margin: 5px 0 0 0;
}

ul, ol {
	margin: 10px 0 0 0;
	padding-left: 15px;
}
li {
	padding-bottom: 4px;
	padding-left: 5px;
}

/*ul, ol {
	margin: 6px 0px 4px 18px;
	padding-left: 0px;
	list-style: square outside;
}
li {
	padding-bottom: 4px;
	padding-left: 5px;
}
*/
ol ol {
	list-style-type: lower-roman;
	margin-bottom: 0 !important;
	padding-left: 20px;
}

ul {
	list-style-type: square;
}

a img {
	border: 0;
}

code {
	border-left: 1px solid #5C9CCC;
	margin-left: 2px;
	padding: 1px 2px 1px 4px;
	font-size: 90%;
	color: #000000;
	background-color: #EEEEEE;
}


div.head {
	color: #FFFFFF;
	background-color: #5C9CCC;
	padding: 12px 0 0 20px;
/*	width: 100%;*/
	min-height: 63px;
}

div.head h1 {
	margin: 0;
	color: #FFFFEE;
	text-shadow: 2px 3px 5px #828282;
}
div.head h1 a,
div.head h1 a:visited,
div.head h1 a:active,
div.head h1 a:hover {
	color: #FFFFEE;
	text-decoration: none;
}
div.head h1 img {
	vertical-align: middle;
	padding-right: 8px;
}


div.head div#too-much {
	float: right;
	background-color: #FFFFCC;
	color: #5C9CCC;
	border: 2px solid #FFCC66;
	font-size: 9pt;
	font-weight: normal;
	text-align: center;
	width: 200px;
	height: 75px;
	margin: -5px 8px 6px 0;
	padding: 2px 7px;
/*	border: 1px solid #CC0000;*/
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

div.head div#too-much p {
	margin-top: 9px;
}

div.head div#too-much img {
	float: right;
	margin: 0 0 0 5px;
	padding: 0;
}

div.head #main-menu {
	display: inline-block;
	width: 100%;
	overflow: auto;
}

div.head #main-menu ul {
	margin: 0 0 0 96px;
	list-style: none;
}

div.head #main-menu ul li {
	float: left;
	width: 21.5%;
	margin: 0 2px 0 0;
	padding: 0;
	border-collapse: collapse;
}

div.head #main-menu ul li.top-link-small {
	width: 12%;
}


div.head #main-menu ul li a {
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 10pt;

	background: url("jquery-css/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") repeat-x scroll 50% 50% #5C9CCC;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
}

div.head li a,
div.head li a:visited,
div.head li a:active,
div.head li a:hover {
	color: #FFFFEE;
	text-decoration: none;
}

div.head li a:active,
div.head li a:hover {
	color: #1d5987;
	text-decoration: none;
}


div.content-wrapper {
	clear: both;
	margin: 0;
	padding: 20px 0 15px 0;
	background-color: #FFFFFF;
}

div.content-wrapper div,
div.content-wrapper table {
	background-color: #FFFFFF;
}

div.content {
	clear: both;
	margin: 0 20px 0 60px;
}


div.content #main-menu {
	margin: 20px 40px 30px 0;
}

div.content #main-menu p {
	overflow: auto;
	padding: 5px 0 15px 0;
}

div.content a.top-link {
	display: inline-block;
	float: left;
	-moz-box-shadow: 3px 3px 6px 0 #363436;
	-webkit-box-shadow: 3px 3px 6px 0 #363436;
	box-shadow: 3px 3px 6px 0 #363436;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5c9bcc), color-stop(1, #add6ff) );
	background:-moz-linear-gradient( center top, #5c9bcc 5%, #add6ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c9bcc', endColorstr='#add6ff');
	background-color:#5c9bcc;
	-webkit-border-radius: 33px 33px 0 0;
	-moz-border-radius: 33px 33px 0 0;
	border-radius: 33px 33px 0 0;
	text-indent: -1.72px;
	color: #ffffee;
	padding: 20px 0 0;
	margin-left: 25px;
	font-size: 15pt;
	font-weight: bold;
	width: 30%;
	min-width: 230px;
	max-width: 345px;
	text-align: center;
	text-shadow:1px 1px 0 #224466;
}

div.content a.top-link:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #add6ff), color-stop(1, #5c9bcc) );
	background:-moz-linear-gradient( center top, #add6ff 5%, #5c9bcc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#add6ff', endColorstr='#5c9bcc');
	background-color:#add6ff;
}
div.content a.top-link:active {
	position: relative;
	top: 2px;
}

div.content a.top-link:visited,
div.content a.top-link:active,
div.content a.top-link:hover {
	color: #ffffee;
	text-decoration: none;
}

div.content img {
	background-color: #FFFFFF;
	margin: 12px 0 0;
	padding: 8px 4px 4px;
	border: 1px solid #cccccc;
}


div.about,
ul.linklist {
	font-size: 110%;
	line-height: 1.5;
}

div.about img {
	text-align: right;
	margin: 0 60px 20px 20px;
}

div.about img.about-me {
	float: right;
}


div.about a.li-button img {
	border: 0;
	margin: 0 0 0 20px;
}



div.footer {
	clear: both;
	background-color: #5C9CCC;
	padding: 12px 0 10px;
}


div.footer div {
	margin: 0 60px 0 60px;
	padding: 7px 30px 12px;
	border: 1px solid #EEEEEE;
	background-color: #FFFFFF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

div.footer p#share {
	float: right;
	margin-left: 30px;
	margin-right: 10px;
}


.important {
	clear: both;
	margin: 20px 40px 10px 0;
	padding: 6px 30px 12px;
	font-weight: bold;
	font-size: 10pt;
	border: 2px solid #5C9CCC;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.important h3 {
	font-size: 12pt;
	margin-top: 5px;
}

div#legend-box {
	overflow: auto;
}

div#sidebar {
	float: right;
	margin: -0px 0 10px 10px;
}

div#sidebar div#php-version {
	font-size: 9pt;
	font-weight: normal;
	text-align: center;
	width: 125px;
	padding: 8px 12px;
	background-color: #f1f7fa;
	-webkit-box-shadow: 3px 3px 2px 1px #dddddd;
	box-shadow: 3px 3px 2px 1px #dddddd;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #5C9CCC;
	margin: 0;
}


div#sidebar div#php-version p strong {
	display: block;
	padding-top: 5px;
	font-size: 12pt;
	color: #5C9CCC;
}

div#sidebar div span {
	display: block;
	margin-top: 5px;
	font-size: 85%;
}

div#sidebar form#choose-version {
	margin-top: 5px;
}

.static-archive div#sidebar div#php-version {
	border: 2px solid #CD0A0A;
}

.static-archive div#sidebar div#php-version:before {
	content:"Static archive";
	display: block;
	padding-bottom: 2px;
	color: #CD0A0A;
	font-size: 120%;
	font-weight: bold;
}


.fright {
	display: block;
	float: right;
	padding-right: 6px;
}


table {
	border-bottom: 1px solid #000000;
	font-family: verdana, arial, sans-serif;
}

th {
	font-size: 7pt;
	padding: 2px;
	border-right: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	background-color: #DDE2E9;
}
thead th,
tfoot th {
	text-align: center;
}

.ui-widget-content thead th a,
.ui-widget-content tfoot th a,
.thfloat th a,
.thfloat th a {
	color: #5C9CCC !important;
	font-weight: bold;
}



tbody th {
	text-align: left;
}
th.label-col {
	width: 250px !important;
}

td {
	font-size: 7pt;
	margin: 0;
	padding: 2px;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}

.end {
	border-right: 2px solid #000000;
}
.target td {
	background-color: #FFFFDD;
}

.good, th.good, td.good {
	background-color: #E7FFE7;
}
.best, th.best, td.best {
	background-color: #A7FFA7;
}
.bad {
	background-color: #FF7755;
}

.notice {
	color: #0066FF !important;
	font-weight: bold;
}
.warning {
	color: #FF6600 !important;
	font-weight: bold;
}
.error {
	color: #FF0000 !important;
	font-weight: bold;
}
.new-var-type td, .new-var-type th {
	border-top: 1px solid #000000;
}

.error-appendix {
	clear: both;
	margin: 20px 40px 10px 60px;
	padding: 6px 30px;
	border: 1px solid #CD0A0A;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #FEF6F3;
}

.note-appendix {
	clear: both;
	margin: 20px 40px 10px 60px;
	padding: 6px 30px;
	border: 1px solid #5C9CCC;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #F0FFFF;
}


/**
 * Tab loading spinner
 */
.spinner {
	text-align: center;
	margin: 80px 0;
	background-image: url("images/ajax-loader-5C9CCC.gif");
	background-size: 128px 15px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #5C9CCC;
	background-attachment: scroll;
}


/********
 * Table hover and click highlighting
 ********/
.hover, .hover td, .hover th {
	background-color: #FDEDD0 !important;
}

.sticky, .sticky td, .sticky th {
	background-color: #DCF0F7 !important;
}


#accordion {
	margin-right: 170px;
	margin-bottom: 10px;
}

.ui-accordion .ui-accordion-content {
    overflow: visible;
}

.ui-accordion .ui-accordion-header {
	margin-top: 5px;
}

#accordion ol {
/*	padding-bottom: 20px;*/
/*	margin-bottom: 20px;*/
}

#accordion ol ol,
#accordion ol ul,
#accordion ul ol,
#accordion ul ul {
	padding-bottom: 0;
	margin-bottom: 0;
}

div#tabs {
	margin-left: -60px;
	border: 0 none;
	clear: both;
}


.ui-tabs div.tables .ui-tabs-panel,
.ui-tabs .ui-tabs-panel {
	padding: 4px 0 0;
}


/********
 * Tooltips
 ********/
.th-tooltip {
	min-width: 100px;
	width: auto;
}



/********
 * Var printing
 ********/
.string {
	color: #336600;
}
.int {
	color: #0066FF;
}
.int-0 {
	color: #FF0000;
}
.float {
	color: #990033;
}
.bool {
	color: #000099;
}
.b-true {
	color: #336600;
}
.b-false {
	color: #FF0000;
}
.resource {
	color: #666666;
}
.null {
	color: #666666;
}


/********
 * 404
 ********/
div.content img.e404 {
	float: right;
	margin-top: 5px;
	margin-right: 30px
}
.e404 {
	margin-top: 32px;
	margin-bottom: 50px;
}
.e404 tr th,
.e404 tr td {
	text-align: left;
	background-color: #eeeeec;
}
.e404 tr th.e404-title {
	background-color: #f57900;
}
.e404 tr th.e404-title span {
	background-color: #cc0000;
	color: #fce94f;
	font-size: x-large;
}
.e404 tr th.e404-cs {
	background-color: #e9b96e;
}

.e404 tr.e404-titlerow th:first-child {
	text-align: center;
}

.e404 tr td:first-child,
.e404 tr td:nth-child(2) {
	text-align: center;
}

.e404 tr td:nth-child(3) {
	text-align: right;
}


/********
 * Quiz
 ********/
code {
	font-size: 120%;
}
.q {
	font-size: 200%;
	font-weight: bold;
}
.pass {
	font-weight: bold;
	color: white;
	background-color: green;
}
.no-pass {
	font-weight: bold;
	color: white;
	background-color: red;
}

p.pass, p.no-pass {
	margin: 1px 0;
	padding: 4px 0;
}

table.quiz {
	margin-bottom: 30px;
}