/* Stylesheet for PHP cheat sheets */
body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	color: #000000;
	font-family: arial,sans-serif;
	font-size: 8pt;
}

h2 {
	font-size: 12pt;
	font-weight: bold;
	margin: 12px 0 0 0;
}

h3 {
	font-size: 10pt;
	font-weight: bold;
	margin: 12px 0 0 0;
}
h4 {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
}

a {
	color: #CC0000;
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color: #333333;
	background-color: transparent;
	text-decoration: underline;
}
a:active {
	color: #CC0000;
	background-color: transparent;
	text-decoration: underline;
}
a:hover {
	color: #CC0000;
	background-color: transparent;
	text-decoration: underline;
}

p {
	margin: 5px 0 0 0;
}

ul, ol {
	margin: 10px 0 0 0;
	padding-left: 15px;
}
li {
	padding-bottom: 4px;
	padding-left: 5px;
}

/*ul, ol {
	margin: 6px 0px 4px 18px;
	padding-left: 0px;
	list-style: square outside;
}
li {
	padding-bottom: 4px;
	padding-left: 5px;
}
*/
ol ol {
	list-style-type: lower-roman;
	margin-bottom: 0 !important;
	padding-left: 20px;
}

ul {
	list-style-type: square;
}



code {
	border-left: 1px solid #CC0000;
	margin-left: 2px;
	padding: 1px 2px 1px 4px;
	font-size: 90%;
	color: #000000;
	background-color: #EEEEEE;
}


div.head {
	color: #FFFFFF;
	background-color: #CC0000;
	padding: 16px 20px 16px 20px;
/*	width: 100%;*/
}

div.head p {
	margin: 0;
}

div.head #main-menu {
	float: right;
	margin-top: -80px;
	margin-right: 0;
}

div.head a.top-link {
	display: block;
	float: left;
	-moz-box-shadow: 4px 5px 6px 0 #363436;
	-webkit-box-shadow: 4px 5px 6px 0 #363436;
	box-shadow: 4px 5px 6px 0 #363436;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #b6bdb6) );
	background: -moz-linear-gradient( center top, #f9f9f9 5%, #b6bdb6 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#b6bdb6');
	background-color: #f9f9f9;
/*	background-color: #cc0000;*/
	-webkit-border-radius: 33px 33px 0 33px;
	-moz-border-radius: 33px 33px 0 33px;
	border-radius: 33px 33px 0 33px;
	text-indent: -1.72px;
	border: 3px solid #dcdcdc;
	padding: 13px 10px;
	margin-left: 20px;
/*	display: inline-block;*/
	font-size: 12pt;
	font-weight: bold;
	height: 40px;
/*	line-height: 65px;*/
/*	width: 170px; */
	max-width: 170px;
	text-align: center;
	text-shadow: 1px 1px 0 #cccccc;
}
div.head a.top-link:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b6bdb6), color-stop(1, #f9f9f9) );
	background: -moz-linear-gradient( center top, #b6bdb6 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6bdb6', endColorstr='#f9f9f9');
	background-color: #b6bdb6;
}
div.head a.top-link:active {
	position: relative;
	top: 2px;
}

div.head a.top-link:visited,
div.head a.top-link:active,
div.head a.top-link:hover {
	color: #CC0000;
	text-decoration: none;
}

div.head a.top-active {
	border: 3px solid #454545;
}


div.content {
	clear: both;
	margin: 30px 40px 0 108px;
}


div.content #main-menu {
	margin: 20px 0 30px 0;
}

div.content #main-menu p {
	overflow: auto;
	padding: 5px 0 15px 0;
}

div.content a.top-link {
	display: block;
	float: left;
	-moz-box-shadow: 4px 5px 6px 0 #363436;
	-webkit-box-shadow: 4px 5px 6px 0 #363436;
	box-shadow: 4px 5px 6px 0 #363436;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa867f), color-stop(1, #b00303) );
	background: -moz-linear-gradient( center top, #fa867f 5%, #b00303 100% );
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fa867f', endColorstr='#b00303');
	background-color: #fa867f;
	-webkit-border-radius: 33px 33px 0 33px;
	-moz-border-radius: 33px 33px 0 33px;
	border-radius: 33px 33px 0 33px;
	text-indent: -1.72px;
	color: #fcfffc;
	padding: 35px 10px;
	margin-left: 25px;
	font-size: 22pt;
	font-weight: bold;
	width: 200px;
	text-align: center;
	text-shadow: 1px 1px 0 #810e05;
}


div.content a.top-link:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b00303), color-stop(1, #fa867f) );
	background: -moz-linear-gradient( center top, #b00303 5%, #fa867f 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b00303', endColorstr='#fa867f');
	background-color: #b00303;
}
div.content a.top-link:active {
	position: relative;
	top: 2px;
}

div.content a.top-link:visited,
div.content a.top-link:active,
div.content a.top-link:hover {
	color: #fcfffc;
	text-decoration: none;
}







div.footer {
	clear: both;
	margin: 5px 40px 10px 108px;
	padding: 6px 12px;
	border: 1px solid #EEEEEE;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

div#tabs {
	margin-left: -108px;
	border: 0 none;
}


.ui-tabs div.tables .ui-tabs-panel,
.ui-tabs .ui-tabs-panel {
	padding: 0.5em 0;
}

.important {
	clear: both;
	margin: 20px 0 10px 0;
	padding: 6px 12px;

	border: 2px solid #FF0000;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.important h2 {
	margin-top: 5px;
}
.important h3 {
	margin-bottom: 12px;
}



h2#php-version {
	font-size: 9pt;
	font-weight: normal;
	text-align: center;
	float: right;
	width: 120px;
	margin: -58px 5px 10px 10px;
	padding: 8px 12px;
/*	border: 1px solid #CC0000;*/
	background-color: #E8F7F6;
	-webkit-box-shadow: 3px 3px 2px 1px #dddddd;
	box-shadow: 3px 3px 2px 1px #dddddd;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

h2#php-version strong {
	display: block;
	padding-top: 5px;
	font-size: 12pt;
	color: green;
}

h2#php-version span {
	display: block;
	margin-top: 5px;
	font-size: 85%;
}


.fright {
	display: block;
	float: right;
	padding-right: 6px;
}


table {
	border-bottom: 1px solid #000000;
	font-family: verdana, arial, sans-serif;
}

th {
	font-size: 7pt;
	padding: 2px;
	border-right: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	background-color: #DDE2E6;
}
thead th,
tfoot th {
	text-align: center;
}

.ui-widget-content thead th a,
.ui-widget-content tfoot th a,
.thfloat th a,
.thfloat th a {
	color: #CC0000 !important;
}



tbody th {
	text-align: left;
}
th.label-col {
	width: 250px !important;
}

td {
	font-size: 7pt;
	margin: 0;
	padding: 2px;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}

.end {
	border-right: 2px solid #000000;
}
.target td {
	background-color: #FFFFDD;
}

.good, th.good, td.good {
	background-color: #E7FFE7;
}
.best, th.best, td.best {
	background-color: #A7FFA7;
}
.bad {
	background-color: #FF7755;
}

.notice {
	color: #0066FF !important;
	font-weight: bold;
}
.warning {
	color: #FF6600 !important;
	font-weight: bold;
}
.error {
	color: #FF0000 !important;
	font-weight: bold;
}
.new-var-type td, .new-var-type th {
	border-top: 1px solid #000000;
}

.error-appendix {
	clear: both;
	margin: 20px 0 10px 108px;
	padding: 6px 30px;
	border: 1px solid #FF0000;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #FFEEDD;
}

.note-appendix {
	clear: both;
	margin: 20px 0 10px 108px;
	padding: 6px 30px;
	border: 1px solid #0066FF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #F0FFFF;
}


/**
 * Tab loading spinner
 */
.spinner {
	text-align: center;
	margin: 80px 0;
}


/********
 * Table hover and click highlighting
 ********/
.hover, .hover td, .hover th {
	background-color: #FFEECC !important;
}

.sticky, .sticky td, .sticky th {
	background-color: #CCEEFF !important;
}


#accordion {
	margin-right: 170px;
	margin-bottom: 10px;
}

.ui-accordion .ui-accordion-content {
    overflow: visible;
}

.ui-accordion .ui-accordion-header {
	margin-top: 5px;
}

#accordion ol {
/*	padding-bottom: 20px;*/
	margin-bottom: 20px;
}

#accordion ol ol,
#accordion ol ul,
#accordion ul ol,
#accordion ul ul {
	padding-bottom: 0;
	margin-bottom: 0;
}


/********
 * Tooltips
 ********/
.th-tooltip {
	min-width: 100px;
	width: auto;
}



/********
 * Var printing
 ********/
.string {
	color: #336600;
}
.int {
	color: #0066FF;
}
.int-0 {
	color: #FF0000;
}
.float {
	color: #990033;
}
.bool {
	color: #000099;
}
.b-true {
	color: #336600;
}
.b-false {
	color: #FF0000;
}
.resource {
	color: #666666;
}
.null {
	color: #666666;
}



/********
 * Quiz
 ********/
code {
	font-size: 120%;
}
.q {
	font-size: 200%;
	font-weight: bold;
}
.pass {
	font-weight: bold;
	color: white;
	background-color: green;
}
.no-pass {
	font-weight: bold;
	color: white;
	background-color: red;
}

p.pass, p.no-pass {
	margin: 1px 0;
	padding: 4px 0;
}

table.quiz {
	margin-bottom: 30px;
}